</br>ここからfreetimes/edit.html.erbの内容</br>
</br>
<div class="container-fluid">
    <div class="form-group"></br>
    <div class="container-fluid">
  <h4 style="background:#f9f9f9; ">
freetime登録id：<%= @freetime.id %></br>
登録user名：<%= @freetime.user.name %></br>

<%= form_for @freetime, :url => {:action => 'update'} do |f| %>
<div class="container-fluid">
    <div class="form-group"></br>
    <div class="container-fluid">
  <h4 style="background:#f9f9f9; ">
  <label class="control-label" ><%= t('MtgPoint') %></label>
  <%= f.text_field :place, value: @freetime.place, placeholder: t('EntMtgPt'), class: 'form-control' %></br>

  <label class="control-label" for=""><%= t('MtgDate') %></label></br>
  <%= f.datetime_select :time, :default => @freetime.time, class: 'form-control' %></br></br>
  <%= f.label :lang, t('YrLang') %></br>
  <%= f.select :lang, [[t('Unspecified'), nil], [t('English'), "en"], [t('Japanese'), "ja"]], class: "form-control" %></br></br>
  <%= t('comment') %></br>
  <%= f.text_field :comments, value: @freetime.comments, class: "form-control" %></br></br>

  <%= f.submit t('update'), class: 'btn btn-primary' %>
  </h4></div>
  <% end %>


</div>