</br>freetimes/new.html.erb ここからfreetime登録画面

<div class="container-fluid" style="background:#f9f9f9; ">

<%= form_for(@freetime) do |f| %>
  <label class="control-label" >集合場所</label>
  <%= f.text_field :place, class: 'form-control' %></br>

  <label class="control-label" for="">日時</label></br>
  <%= f.datetime_select :time, class: 'form-control' %></br></br>
  <label class="control-label" for=""></label>
    <%= f.label :lang, t('Your speaking language') %></br>
  <%= f.select :lang, [[t('Unspecified'), nil], [t('English'), 'en'], [t('Japanese'), 'ja']], class: "form-control" %></br>
</br>
  <%= f.submit t('send'), class: 'btn btn-primary' %></br>
  </br>

<% end %>


</div>