</br>
<div class="page-header">
<h1 style="background:#f9f9f9; "><%= t('looking4LF') %></h1></div>
</br>
<h4 style="background:#f9f9f9; ">
<%= t('searchExp1') %></br>
<%= t('searchExp2') %></br>
</h4>
<%= search_form_for(@search, url: 'search', method: 'get') do |f| %>
    <div class="form-group"></br>
    <div class="container-fluid">
  <h4 style="background:#f9f9f9; ">
      <%= f.label :place_cont, t('MtgPoint') %>
      <%= f.text_field :place_cont, class: 'form-control' %>
      <%= f.label :lang_eq, t('YrLang') %></br>
      <%= f.select :lang_eq, [[t('Unspecified'), nil], [t('English'), "en"], [t('Japanese'), "ja"]], class: "form-control" %></br>
    <%= f.label :time_gteq, t('MtgDate') %></br>
    <%= d = Date.today 
    f.datetime_select :time_gteq, prompt: true, default: Date.new(d.year, d.month, d.mday), :start_year => d.year %>
    </br></br>
    <%= f.submit t('search'), class: 'btn btn-primary' %></br></br>
    </div>
    </h4>
<% end %>

</br>
<div class="container-fluid">
<h3 style="background:#f9f9f9; "><%= t('results') %></h3></div>
</br>
<% @results.each do |result| %>

<!-- 言語表示の処理ここから -->
<% case result.lang
when nil then
  lang = 'Unspecified'
when "en" then
  lang = 'English'
when "ja" then
  lang = 'Japanese'
end %>
<!-- 言語表示の処理ここまで -->
<div class="container-fluid">
<h4 style="background:#f9f9f9; ">
  <%= t('MtgPoint') %>：<%= result.place %></br>
  <%= t('MtgDate') %>：<%= result.time %></br>
  <%= t('Lang') %>：<%= t(lang) %> </br>
  <%= t('EvntOwner') %>：<%= link_to "#{result.user.name}", "/users/show/#{result.user_id}", method: :get %></br>
  <%= t('comment') %>：<%= result.comments %></br>
  <%= link_to t('SendOffer'), "/bookings/new/#{result.id}", class: 'btn btn-success', data: { confirm: t('Send') } %></br>
  </h4>
  </div>
  </br>
<% end %>
<%= paginate(@results) %>

