</br>ここからfreetimes/show.html.erbの内容</br>
■自分が登録したfreetimesの一覧</br>
</br>
<div class="container-fluid">
<h1 style="background:#f9f9f9; ">
<% @freetimes.each do |freetime| %>
  場所：<%= freetime.place %></br>
  時間：<%= freetime.time %></br>
  登録日：<%= freetime.created_at %></br>
  登録者id:<%= freetime.user_id %> 登録者名：<%= freetime.user.name %></br>
  予約者：</br>
  <%= link_to "編集", "/freetimes/edit/#{freetime.id}", method: :get %>   <%= link_to "削除", "/freetimes/#{freetime.id}", method: :delete %></br>
  </h1>
  </div>
  ==================================</br>
  <% end %>