</br>ここからfreetimes/show.html.erbの内容</br>
■自分が登録したfreetimesの一覧</br>
</br>
<% @freetimes.each do |freetime| %>
<div class="container-fluid">
<h4 style="background:#f9f9f9; ">
  <%= t('MtgPoint') %>：<%= freetime.place %></br>
  <%= t('MtgDate') %>：<%= freetime.time %></br>
  <%= t('CreateDate') %>：<%= freetime.created_at %></br>
  <%= t('CreateUser') %>ID：<%= freetime.user_id %>　<%= t([:CreateUser, :name]) %>：<%= freetime.user.name %></br>
  予約者id：<%= if freetime.client_id != nil then freetime.client_id else "予約者なし" end %>
  　予約者名：
      <%= if freetime.client_id != nil then User.find(freetime.client_id).name
        else "予約者なし" end %></br>
  <%= link_to "編集", "/freetimes/edit/#{freetime.id}", method: :get %>   <%= link_to "削除", "/freetimes/#{freetime.id}", method: :delete %></br>

  </div>
  ==================================</br>
  <% end %>
 <%= paginate(@freetimes) %>
 </h4>