<!DOCTYPE html>
application.html.erbの内容</br>
<html>
<head>
<%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Meets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
  <div style="background:#f9f9f9; ">
  user: <%= link_to "#{current_user.name}", :controller => "users", :action => "index" %> さんがログイン中｜ログアウトは右のリンクをクリック！ → 
  <%= link_to('ログアウト', destroy_user_session_path, method: :delete) %>
  </div>
  <% else %>
  <div style="background:#f9f9f9; ">
  ログインしていないので、ログインしてください→
  <%= link_to("ログイン", new_user_session_path) %>
  </div>

  <% end %>
</head>


<%= yield %>

</body>
</html>
