<!DOCTYPE html>
application.html.erbの内容</br>
<html>
<head>
<%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <meta content="width=device-width, initial-scale=1" name="viewport">

  <title>Meets</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <% if user_signed_in? %>
  <div style="background:#f9f9f9; ">
  user: <%= link_to "#{current_user.name}", :controller => "users", :action => "index" %> <%= t('LoginName') %> →
  <%= link_to( t('logout'), destroy_user_session_path, method: :delete) %>
  
  <% else %>
  <div style="background:#f9f9f9;" >
  <%= t('LoginShite') %> →
  <%= link_to( t('login'), new_user_session_path) %>
  

  <% end %>

<div class = "pull-right" >
<!--言語設定   現在のurl取得→ロケール情報を末尾につけてリンク先に飛ばす-->
<%= link_to_if params[:locale] != 'en', 'English',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'en') %> |
<%= link_to_if params[:locale] != 'ja',  '日本語',  url_for(controller: controller.controller_name, action: controller.action_name, locale: 'ja') %>

  </div>
  </div>

</head>


<%= yield %>

</body>
</html>
